* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



/* -------debug------ */
.header-top {
    height: 80px;
}

.head {
    height: 40px;
}

/* ------fine-debug------ */

.container {
    width: 2000px;
}
.header-top {
    display: flex;
    background-color: rgb(91, 243, 243);
}

.head {
    width: 25px;
    background-color: orange;
    
}

.center {
    flex-grow: 3;
}
