* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



/* -------debug------ */
.header-top {
    
    height: 80px;
}

/* ------fine-debug------ */
.header-top {
    display: flex;
    background-color: azure;
}

.head {
    width: 25px;
    background-color: orange;
    display: flex;
    
}

.center {
    
}
